.title {
  width: 100%;
}
.title h1 {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
}
.title h2 {
  font-size: 16px;
  margin: 10px auto 15px 18px;
}
.title ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.title ul li:nth-child(1) {
  font-weight: 600;
  border-bottom: 1px solid #837e7e;
}
.banner {
  width: 100%;
  padding: 15px 25px 45px 25px;
  background-color: #F7F7F7;
}
.banner .banner-item h1 {
  margin-bottom: 15px;
  color: #554040;
}
.banner .banner-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner-item div img {
  width: 100%;
  height: 110px;
  margin-bottom: 20px;
}
.banner .banner-item p {
  display: flex;
  justify-content: space-between;
}
.banner .banner-item p span:nth-child(1) {
  font-weight: 600;
}
.banner .banner-item p span:nth-child(2) {
  width: 90px;
  height: 30px;
  margin-right: -24px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  font-weight: 500;
  background-color: #8d8b8b;
}
