.top {
  padding: 20px 5px;
  width: 100%;
}
.top img {
  width: 25px;
}
.top .top1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.top .top1 h1 {
  font-size: 18px;
  margin-left: 4px;
}
.top .nav ul li {
  float: left;
  margin-left: 25px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 15px;
}
.banner {
  width: 100%;
  margin-top: 25px;
  background-color: #f7f7f7;
}
.banner h2 {
  font-size: 15px;
  color: #666;
  margin-left: 15px;
  padding-top: 15px;
}
.banner img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
}
.banner p {
  width: 80px;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}
.banner .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.banner .items .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
.bottom {
  width: 100%;
  background-color: #f7f7f7;
  padding-bottom: 60px;
}
.bottom h2 {
  font-size: 15px;
  color: #666;
  margin-left: 15px;
  padding-top: 15px;
}
.bottom .items {
  display: flex;
  justify-content: space-between;
}
.bottom .items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.bottom .items .item img {
  width: 90px;
  height: 90px;
  border-radius: 100px;
}
.bottom .items .item p {
  width: 80px;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}
.bottom i {
  display: inline-block;
  width: 86%;
  height: 4px;
  border-radius: 6px;
  background-color: #ccc;
  margin: 10px 7%;
}
