<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帮助中心</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/help.css">
</head>

<body>
    <div class="top">
        <a href="../index.html"><img src="../font/左箭头.png" alt=""></a>
        <div class="search">
            <span style="margin-right: 8px;"><a href="./服务中心.html" style="color: #000;">客服</a></span>
            <div class="inputs">
                <input type="text">
                <span>查询</span>
                <img src="../font/sou-suo.png" alt="">
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="logo">
            <img src="../img/星巴克图标.png" alt="">
        </div>
    </div>
    <div class="swiper">
        <div class="item1 item">
            <img src="../img/11.jpeg" alt="">
            <p>常见问题</p>
        </div>
        <div class="item2 item">
            <img src="../img/3.jpeg" alt="">
            <a href="./服务中心.html">
                <p>俱乐部常见<br>问题</p>
            </a>
        </div>
        <div class="item3 item">
            <img src="../img/4.png" alt="">
            <p>星礼卡问题</p>
        </div>
    </div>
    <div class="pic">
        <p>精选解答</p>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img style="border-bottom: 3px solid #bbb;" src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>