<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mine</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/mine.css">
</head>

<body>
    <div class="top">
        <div class="head">
            <div class="heads">
                <div>
                    <a href="./user.html"><img src="../img/头像.jpg" alt=""></a>
                    <h5>成长值 114514</h5>
                    <h4>等级6</h4>
                </div>
            </div>
        </div>
        <div class="swiper">
            <img class="swiper-one" src="../img/星选经典 (1).jpeg" alt="">
            <span class="swiper-two">
                <img src="../img/星选经典 (1).jpg" alt="">
            </span>
            <img class="swiper-three" src="../img/星选经典 (2).jpg" alt="">
        </div>
    </div>
    <p style="padding-left: 20px; font-size: 18px;">等级特权</p>
    <div class="banner">
        <div class="banner-item">
            <img src="../font/yanchi.png" alt="">
            <h5>延长天数</h5>
        </div>
        <div class="banner-item">
            <img src="../font/lipinka.png" alt="">
            <h5>礼品卡</h5>
        </div>
        <div class="banner-item">
            <img src="../font/youhuiquan.png" alt="">
            <h5>限时优惠券</h5>
        </div>
        <div class="banner-item">
            <img src="../font/免费礼品.png" alt="">
            <h5>免费礼品</h5>
        </div>
    </div>
    <div class="addMe">
        <img src="../img/10.jpeg" alt="">
        <div class="add">
            <h1>加入我们</h1>
            <h2>成为我们的伙伴</h2>
        </div>
        <span class="logos"><img src="../img/星巴克图标.png" alt=""></span>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img style="border-bottom: 3px solid #bbb;" src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>