<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户信息</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/user.css">
</head>

<body>
    <div class="top">
        <div class="jiantou">
            <img src="../font/左箭头.png" alt="">
        </div>
        <div class="user">
            <img src="../img/头像.jpg" alt="">
            <div class="detail">
                <p>平安是福</p>
                <button>修改信息</button>
            </div>
        </div>
        <div class="nav">
            <a href="#">主页</a><a href="#">动态</a><a href="#">消息</a>
        </div>
    </div>
    <div class="banner">
        <div class="content">
            <ul>
                <li>基本信息</li>
                <li>年龄：</li>
                <li>性别：</li>
                <li>星座：</li>
            </ul>
            <p>个人介绍</p>
        </div>
        <div class="content2">
            <a href="./mine.html"><img src="../font/iconVIP.png" alt=""></a>
            <a href="./购物车.html"><img src="../font/gouwuche.png" alt=""></a>
            <a href="./服务中心.html"><img src="../font/bangzhu.png" alt=""></a>
        </div>
        <div class="content1">
            <p>最新活动</p>
        </div>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img style="border-bottom: 3px solid #bbb;" src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>