<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/关于.css">
</head>

<body>
    <div class="top">
        <h1>星巴克在中国</h1>
    </div>
    <div class="banner">
        <div class="box1">
            我们的使命和责任
        </div>
    </div>
    <div class="detail">
        <div class="item">
            <p class="item-p">历史</p>
            <div class="item-box">
                <div class="tops">
                    <h1>1999</h1>
                    <h5>星巴克内地从第一家门店<br></h5>
                </div>
                <div class="bottom">
                    <p>
                        星巴克于1999年1月,在北京中国国际贸易中心开设中国内地第一家门店。对星巴克来说,中国目前已成为星巴克发展速度最快、最大的海外市场。
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <p class="item-p">门店</p>
            <div class="item-box">
                <div class="tops">
                    <h1>5，000</h1>
                    <h5>家门店遍布中国内地200个城市</h5>
                </div>
                <div class="bottom">
                    <p>
                        目前，星巴克已经在中国内地200个城市开设了5,000家门店，拥有近60,000名星巴克伙伴。这一独特优势使我们能够在每一天,通过每一家星巴克门店,践行我们的承诺
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <p class="item-p">社会责任</p>
            <div class="item-box">
                <div class="tops">
                    <h1>1，100，000</h1>
                    <h5>小时社区服务<br><br></h5>
                </div>
                <div class="bottom">
                    <p>
                        进入中国以来，星巴克始终致力于回馈社会,持续在中国内地不同地区和城市开展企业社会责任项目，对于当地社会发展做出自己的一份贡献。自2011年起,星巴克中国的伙伴和志愿者们一共贡献了超过行我们的承诺。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="add">
        <button>加入我们</button>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img style="border-bottom: 3px solid #bbb;" src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>