<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美食</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/分菜单美食.css">
    <style>
        a {
            color: #000;
        }
    </style>
</head>

<body>
    <div class="title">
        <h1>美食|星巴克</h1>
        <a href="./菜单.html">
            <h2>←美食</h2>
        </a>
        <ul>
            <li>全部</li>
            <li>烘培</li>
            <li>蛋糕&甜品</li>
            <li>三明治，帕尼尼</li>
        </ul>
    </div>
    <div class="banner">
        <div class="banner-item">
            <h1>烘培</h1>
            <div>
                <a href="./美食松饼.html"><img src="../img/m1.png" alt=""></a>
                <img src="../img/m2.png" alt="">
            </div>
        </div>
        <div class="banner-item">
            <h1>蛋糕甜品</h1>
            <p><span></span><span>搜索菜单</span></p>
            <div>
                <img src="../img/m3.png" alt="">
                <img src="../img/m4.png" alt="">
            </div>
        </div>
        <div class="banner-item">
            <h1>其他美食</h1>
            <div>
                <img src="../img/m5.png" alt="">
            </div>
        </div>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img style="border-bottom: 3px solid #bbb;" src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>