<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分菜单</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/分菜单融合冰淇淋.css">
</head>

<body>
    <div class="top">
        <h1>咖啡融合冰淇淋|星巴克</h1>
        <div class="back">
            <a href="./菜单.html"><img src="../font/左箭头.png" alt=""></a>
            <span>饮料</span>
        </div>
        <ul>
            <li style="font-weight: 600;">咖啡融合冰淇淋</li>
            <li>星巴克冷萃咖啡系列</li>
            <li>气致冷萃咖啡</li>
        </ul>
    </div>
    <div class="banner">
        <img src="../img/WPS图片编辑.png" alt="">
        <p>特别提示：<br><br>致敏原提示：咖啡融合冰淇淋系列以上四款饮品中含有乳、大豆制品、含麸质的谷物制品以及蛋白制品。<br>麦芽雪冷萃™含少量酒精成分，孕妇与儿童不建议饮用</p>
        <div class="buttons">
            <a href="./关于.html"><button>查看门店列表</button></a>
        </div>
        <h3>咖啡融合冰淇淋系列将陆续登陆更多城市门店，敬请期待</h3>
        <span>搜索菜单</span>
    </div>
</body>

</html>