<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/商品详情.css">
    <link rel="stylesheet" href="../css/咖啡单品.css">
</head>

<body>
    <div class="top">
        <a href="./咖啡产品.html"><img class="jiantou" src="../font/左箭头.png" alt=""></a>
        <img src="../img/kf1.jpg" alt="">
    </div>
    <div class="banner">
        <p>中度烘焙</p>
        <h2>星巴克®凤舞祥云综合咖啡豆</h2>
        <p>这款亚洲/太平洋综合咖啡是自2009年来星巴克首款融入产自中国地区咖啡豆的综合咖啡</p>
    </div>
    <div class="footer">
        <h3>烘焙程度：中度烘焙</h3>
        <span class="ones"><i></i></span>
        <h3>酸度：低</h3>
        <span class="twos"><i></i></span>
        <h3>醇度：中等</h3>
        <span class="ones"><i></i></span>
    </div>
    <div class="area">
        <div class="top">
            <span class="qian">产地</span><span class="hou">亚洲/太平洋</span>
        </div>
        <p></p>
        <div class="bottoms">
            <span class="qian">加工方法</span><span class="hou">水洗法/半水洗法</span>
        </div>
    </div>
</body>

</html>