<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/商品.css">
    <style>
        a {
            color: #000;
        }
    </style>
</head>

<body>
    <div class="top">
        <a href="./菜单.html">
            <div class="top1">
                <img src="../font/左箭头.png" alt="">
                <h1>咖啡产品</h1>
            </div>
        </a>
        <div class="nav">
            <ul>
                <li style="border-bottom: 3px solid rgb(19, 119, 86);">全部</li>
                <li>咖啡豆</li>
                <li>星巴克VIA免费咖啡</li>
                <li>甄选咖啡</li>
            </ul>
        </div>
    </div>
    <div class="banner">
        <h2>中度烘焙</h2>
        <div class="items">
            <a href="./咖啡单品.html">
                <div class="item">
                    <img src="../img/kf1.jpg" alt="">
                    <p style="color: #000;">星巴克凤舞祥云综合咖啡豆</p>
                </div>
            </a>
            <div class="item">
                <img src="../img/kf2.png" alt="">
                <p>星巴克派克市场烘焙咖啡豆</p>
            </div>
            <div class="item">
                <img src="../img/kf3.png" alt="">
                <p>星巴克肯亚咖啡豆</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <i></i>
        <h2>深度烘焙</h2>
        <div class="items">
            <div class="item">
                <img src="../img/kf4.png" alt="">
                <p>星巴苏门达蜡咖啡豆</p>
            </div>
            <div class="item">
                <img src="../img/kf5.png" alt="">
                <p>星巴克低因祥龙综合咖啡豆</p>
            </div>
            <div class="item">
                <img src="../img/kf6.png" alt="">
                <p>星巴克意式烘焙咖啡豆</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <i></i>
        <h2>VIA DAIRY</h2>
        <div class="items">
            <div class="item">
                <img src="../img/kf7.jpg" alt="">
                <p>星巴克VIA香草拿铁风味免煮咖啡固体饮料</p>
            </div>
            <div class="item">
                <img src="../img/kf8.jpg" alt="">
                <p>星巴克焦糖风味拿铁免煮咖啡固体饮料</p>
            </div>
            <div class="item">
                <img src="../img/kf9.jpg" alt="">
                <p>星巴克VIA摩卡风味免煮咖啡固体饮料</p>
            </div>
        </div>
    </div>
    <div class="bottom">
        <i></i>
        <h2>VIA BLACK</h2>
        <div class="items">
            <div class="item">
                <img src="../img/kf10.jpg" alt="">
                <p>星巴克VIA意式烘培免煮咖啡</p>
            </div>
            <div class="item">
                <img src="../img/kf11.jpg" alt="">
                <p>星巴克VIA哥伦比亚免煮咖啡</p>
            </div>
            <div class="item">
                <p></p>
                <p></p>
            </div>
        </div>
        <i></i>
    </div>
</body>

</html>