<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/商品详情.css">
</head>

<body>
    <div class="top">
        <a href="./商品.html"><img class="jiantou" src="../font/左箭头.png" alt=""></a>
        <img src="../img/cp5.jpg" alt="">
    </div>
    <div class="banner">
        <p>常规产品</p>
        <h2>12oz烫金品牌黑色马克杯</h2>
        <p>黑色杯面运用泼点釉搭配镭射Wordmark,隐约的亮色使得整体黑色不在沉闷，这款马克杯另有其他杯型（30oz/16oz）和颜色（白色）可供选择</p>
    </div>
    <div class="bottom">
        <h1>猜你喜欢</h1>
        <div class="bottomimg">
            <img src="../img/ms1.png" alt="">
        </div>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img style="border-bottom: 3px solid #bbb;" src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>