<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务中心</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/服务中心.css">
</head>

<body>
    <div class="top">
        <a href="./help.html"><img src="../font/左.png" alt=""></a>
        <span>服务中心</span>
        <span><i></i><i></i><i></i></span>
    </div>
    <div class="banner">
        <ul>
            <li>常见问题><span></span></li>
            <li>怎么加入会员 <span>></span></li>
            <li>星礼卡常见问题 <span>></span></li>
            <li>咖快常见服务问题 <span>></span></li>
            <li>星享俱乐部常见问题解答 <span>></span></li>
            <li>电子发票常见问题解答 <span>></span></li>
            <li>星享俱乐部会员星礼卡常见问题解答 <span>></span></li>
        </ul>
    </div>
    <div class="bottom">
        <input type="text">
        <img src="../font/语音.png" alt="">
        <img src="../font/加.png" alt="">
    </div>
</body>

</html>