<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/美食松饼.css">
</head>

<body>
    <div class="tops">
        <h1>美式松饼 | 星巴克</h1>
        <a href="./分菜单美食.html"><i>←</i></a>
        <img src="../img/meishisb.jpg" alt="">
    </div>
    <div class="banner">
        <h1>烘焙</h1>
        <h2>美式松饼</h2>
        <h3>两片轻盈酥松的美式松饼搭配加拿大进口槭树糖浆(枫糖浆)，层层甜蜜令人陶醉，带给你超值的美式早餐新体验</h3>
        <h3>咖啡搭配推荐：冷萃咖啡/美式咖啡</h3>
        <h4>猜你喜欢</h4>
        <div class="bannerimg">
            <img src="../img/ms1.png" alt="">
        </div>
    </div>

    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img style="border-bottom: 3px solid #bbb;" src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>