<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜单</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/菜单.css">
    <style>
        .title a {
            color: #000;
        }
    </style>
</head>

<body>
    <div class="title">
        <h1>饮料|星巴克</h1>
        <h2>菜单</h2>
        <ul>
            <a href="./菜单.html">
                <li>全部</li>
            </a>
            <a href="./分菜单融合冰淇淋.html">
                <li>饮料</li>
            </a>
            <a href="./分菜单美食.html">
                <li>美食</li>
            </a>
            <a href="./咖啡产品.html">
                <li>咖啡产品</li>
            </a>
            <a href="./商品.html">
                <li>商品</li>
            </a>
        </ul>
    </div>
    <div class="banner">
        <div class="banner-item">
            <h1>咖啡融合冰淇淋</h1>
            <div>
                <a href="./咖啡产品.html"><img src="../img/a1.png" alt=""></a>
                <img src="../img/a2.png" alt="">
                <img src="../img/a3.png" alt="">
            </div>
        </div>
        <div class="banner-item">
            <h1>星巴克冷萃咖啡系列</h1>
            <div>
                <img src="../img/b1.png" alt="">
                <img src="../img/b2.png" alt="">
                <img src="../img/b3.png" alt="">
            </div>
        </div>
        <div class="banner-item">
            <h1>手工调制浓缩咖啡</h1>
            <div>
                <img src="../img/c1.png" alt="">
                <img src="../img/c2.png" alt="">
                <img src="../img/c3.png" alt="">
            </div>
        </div>
        <div class="banner-item">
            <p><span>星冰乐</span><span>搜索菜单</span></p>
            <div>
                <img src="../img/d1.png" alt="">
                <img src="../img/d3.png" alt="">
                <img src="../img/d23.png" alt="">
            </div>
        </div>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img style="border-bottom: 3px solid #bbb;" src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>