<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/订单详情.css">
    <style>
        a {
            color: #000;
        }
    </style>
</head>

<body>
    <div class="top">
        <a href="./购物车.html"><img src="../font/左.png" alt=""></a>
        <span>订单已完成</span>
        <span><i></i><i></i><i></i></span>
    </div>
    <div class="card1">
        <h1>遂宁万达广场 ></h1>
        <p></p>
        <div class="cards">
            <img src="../img/14.png" alt="">
            <div class="card-text">
                <a href="./订单完成.html">
                    <h2>冷萃浮冰乐</h2>
                    <h3>【冰；大杯800ml；标准量】</h3>
                </a>
            </div>
            <div class="card-text">
                <h2>
                    ￥36.80
                </h2>
                <h3>×1</h3>
                <h3>实付￥36.80</h3>
            </div>
        </div>
    </div>
    <div class="card2">
        <h1>订单信息</h1>
        <p></p>
        <h3>自提地址&nbsp;&nbsp;&nbsp; 遂宁市四川省遂宁市河东新区300号万达广场</h3>
        <h3>订单编码&nbsp;&nbsp;&nbsp; 1257965445687789516515334 &nbsp;&nbsp;&nbsp;<span>复制</span></h3>
        <h3>下单时间&nbsp;&nbsp;&nbsp; 2021-06-27 12：20</h3>
        <p></p>
        <div class="call">
            <img src="../font/电 话.png" alt="">
            <span>联系门店</span>
        </div>
    </div>
    <h1 class="somlike">———你可能还会喜欢———</h1>
    <div class="like">
        <div class="item">
            <img src="../img/22.png" alt="">
            <h1>阿馥奇朵™</h1>
            <h2>双份精粹浓郁咖啡<br>新西兰进口香草冰淇淋</h2>
        </div>
        <div class="item">
            <img src="../img/23.png" alt="">
            <h1>麦芽雪冷萃™</h1>
            <h2>冷萃咖啡双份新西<br>兰进口香草冰淇淋巧克力</h2>
        </div>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>