<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/订单完成.css">
</head>

<body>
    <div class="top">
        <img src="../font/左 (1).png" alt="">
        <a href="./订单详情.html"><span>订单详情</span></a>
    </div>
    <div class="dindan">
        <p>凭码取餐</p>
        <h1>1010</h1>
        <p>正在制作中... ...</p>
        <button>取消订单</button>
    </div>
    <div class="card1">
        <h1 class="head"><span>遂宁万达广场 ></span> <span><img src="../font/电 话.png" alt="">联系门店</span></h1>
        <p></p>
        <div class="cards">
            <img src="../img/14.png" alt="">
            <div class="card-text">
                <h2>冷萃浮冰乐</h2>
                <h3>【冰；大杯800ml；标准量】</h3>
            </div>
            <div class="card-text">
                <h2>
                    ￥36.80
                </h2>
                <h3>×1</h3>
            </div>
        </div>
        <ul>
            <li><span>配送费</span><span>￥0.00</span></li>
            <li><span>包装费</span><span>￥0.00</span></li>
        </ul>
        <h2 class="youhui">优惠内容</h2>
        <h2 class="pay"><span>已优惠 ￥0.00</span> 实付 ￥36.80</h2>
    </div>
    <div class="card2">
        <h1>订单信息</h1>
        <p></p>
        <h3>自提地址&nbsp;&nbsp;&nbsp; 遂宁市四川省遂宁市河东新区300号万达广场</h3>
        <h3>订单编码&nbsp;&nbsp;&nbsp; 1257965445687789516515334&nbsp;&nbsp;&nbsp;<span>复制</span></h3>
        <h3>下单时间&nbsp;&nbsp;&nbsp; 2021-06-27 12：20</h3>
        <h3>支付方式&nbsp;&nbsp;&nbsp; 支付宝支付</h3>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>