<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop car</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/购物车.css">
</head>

<body>
    <div class="top">
        <a href="./user.html"><img src="../font/左箭头.png" alt=""></a>
        <span>购物车<img src="../img/位置.png" alt=""></span>
        <span>编辑</span>
    </div>
    <div class="banner">
        <input type="radio">
        <div class="box">
            <img src="../img/14.png" alt="">
            <div class="box-text">
                <p><span><a style="color: #000;" href="./订单详情.html">冷萃浮乐冰</a></span><span class="red">优惠券></span></p>
                <select name="112" id="1">
                    <option value="">大杯：800ml</option>
                    <option value="">中杯：700ml</option>
                </select>
                <p><span class="red" style="font-weight: 600;font-size: 18px;">36.8</span><span>- <input type="text"
                            value="1">+</span>
                </p>
            </div>
        </div>
    </div>
    <div class="pay">
        <div class="left">
            <input type="radio">
            <p>全选</p>
            <h3>合计：</h3>
        </div>

        <a href="./订单详情.html"><button>结算</button></a>
    </div>
    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>