<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mine</title>
    <link rel="stylesheet" href="../css/navBar.css">
    <link rel="stylesheet" href="../css/门店.css">
</head>

<body>
    <div class="top">
        <h1>门店查询 | 星巴克</h1>
        <div class="search">
            <input type="text" placeholder="输入地址查询门店">
            <img src="../font/sou-suo.png" alt="">
            <span>筛选</span>
        </div>
    </div>
    <div class="map">
        <img src="../img/20.png" alt="">
    </div>
    <div class="address">
        <div class="item">
            <img src="../img/位置.png" alt=""><span>隧宁万达广场站</span>
        </div>
        <p>遂宁市 四川省遂宁市 四川省遂宁市河东新区香林南路300号万达广场</p>
        <p>16.1Km</p>
        <div class="item">
            <img src="../img/位置.png" alt=""><span>德阳印象汇站</span>
        </div>
        <p>德阳市 四川省德阳市 德阳市旌阳区天山北路6号凯德广场1楼</p>
        <p>295.1Km</p>
    </div>


    <div class="navBar">
        <div>
            <a href="../index.html"><img src="../font/主页.jpg" alt=""></a>
            <a href="./菜单.html"><img src="../font/菜单.png" alt=""></a>
            <a href="./mine.html"><img src="../font/我的.png" alt=""></a>
            <a href="./门店.html"><img style="border-bottom: 3px solid #bbb;" src="../font/门店.png" alt=""></a>
            <a href="./help.html"><img src="../font/更多.png" alt=""></a>
        </div>
    </div>
</body>

</html>